* {
  margin: 0;
  padding: 0;
  color: white;
}

header{
  background-color: rgba(51,54,71,255);
}


  
  ul {
    list-style: none;
    margin: 0;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  body {
    font: 22px sans-serif;
    background: var(--body-bg-color);
    color: var(--text-color);
  }
  
  .contenedormenuNavegación {
    border-color: var(--hr-color);
    margin: 20px 0;
  }
  
  .menuNavegación {
    display: flex;
    justify-content: center;
  }
  
  .menuNavegación li {
    margin-right: 70px;
  }
  
  .menuNavegación a {
    position: relative;
    display: block;
    overflow: hidden;
  }
  
  .menuNavegación a span {
    transition: transform 0.2s ease-out;
  }
  
  .menuNavegación a span:first-child {
    display: inline-block;
    padding: 10px;
  }
  
  .menuNavegación a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }
  
  .menuNavegación i {
    font-size: 30px;
  }
  
  .menuNavegación a:hover span:first-child {
    transform: translateY(100%);
  }
  
  .menuNavegación a:hover span:last-child,
  .menuNavegación[data-animation] a:hover span:last-child {
    transform: none;
  }
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .menuNavegación[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
  }
  
  .menuNavegación[data-animation="to-top"] a:hover span:first-child {
    transform: translateY(-100%);
  }
  
  .menuNavegación[data-animation="to-right"] a span:last-child {
    transform: translateX(-100%);
  }
  
  .menuNavegación[data-animation="to-right"] a:hover span:first-child {
    transform: translateX(100%);
  }
  
  .menuNavegación[data-animation="to-left"] a span:last-child {
    transform: translateX(100%);
  }
  
  .menuNavegación[data-animation="to-left"] a:hover span:first-child {
    transform: translateX(-100%);
  }
  
